:root{
  --azul-oscuro:rgb(38, 41, 53);
  --gris-claro:rgb(215, 210, 210);
  --rojo-claro:rgb(147, 73, 73);
  --verde:rgb(153, 46, 38);
  --gris-fondo:rgb(226, 226, 226);
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 30px;
}

a{
  color: var(--gris-claro);
}

a:hover{
  color: var(--verde);
}

body > main{
  display: grid;
  grid-template-columns: 200px 1fr;
}

/* HEADER */

header{
  height: 50px;
}


/* ASIDE */

aside{
  background-color: var(--azul-oscuro);
  padding: 10px;
}

.logo{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 100px;
}

aside nav ul{
  padding: 10px;
  border-top: 1px solid var(--gris-claro);
}

aside nav li{
 padding: 10px 20px;
 font-size: 20px;
}

main{
  background-color: var(--gris-fondo);
}

/* INDEX */

.menu-index {
  width: 600px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* TABLAS */

th,
td {
  padding: 10px 20px;
}

.contenedor-tablas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

.contenedor-tablas img {
  width: 80px;
}

#añadir-galeria input {
  display: none;
}

#añadir-galeria label {
  display: block;
  padding: 10px 20px;
  border: 1px solid black;
}

#tabla li img {
  width: 150px;
}

#confirmacion-modal {
  position: absolute;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}
